*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #1d2135;
}
.All{
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50px;
  color: #ffffff;
}

.binarNode{
  bottom: -50px;
  position: absolute;
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.binarNode .left{
  position: absolute;
  left: -50px;
}

.binarNode .right{
  position: absolute;
  right: -50px;
}